* {
  margin: 0;
}

body {
  font-family: Verdana;
  font-size: 14px;
}

p{
  padding: 20px;
}

#wrapper {
  width: 920px;
  /* background-color: #ff3333; */
  margin: auto;
}

header {
  width: 920px;
  background-color: #00c9fd;
}

#bigimage p{
  color: #00c9fd;
  background-color: #ffffff;
  margin: 0px;
  size: 12pt;
}

#bigimage{
  background-color: #ffffff;
}

main h1{
  padding: 10px;
  font-family: impact;
  size: 25pt;
  text-align: center;
}

header h1 {
  color: rgb(255,255,255);
  padding: 20px, 5px, 5px, 5px;
  size: 30pt;
  font-family: Impact;
}

nav {
  width: 920px;
  background-color: #cccccc;
}

nav a{
  font-family: impact;
  size: 15pt;
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  
}

nav a:hover{
  background-color: white;
}

article {
  width: 920px;
  background-color: #cccccc;
  margin: 20px 0px;
}

article img{
  float: right;
  margin: 20px;
}

article a{
  font-weight: bold;
  color: #00c9fd;
  text-decoration-line: none;
}

article a:hover {
  font-size: 15.4px;
  color: black; 
}

#contact {
  width: 920px;
  background-color: #cccccc;
}

footer {
  width: 920px;
  background-color: #00c9fd;
}

footer p{
  color: white;
  height: 150px;
}