* {
  margin: 0;
}

body {
  font-family: Verdana;
  font-size: 14px;
}

p{
  padding: 20px;
}

#wrapper {
  width: 500px;
  background-color: #ff3333;
}

header {
  width: 500px;
  background-color: #00c9fd;
}

#bigimage p{
  color: #00c9fd;
  background-color: #ffffff;
  margin: 0px;
  size: 12pt;
}

#bigimage{
  background-color: #ffffff;
}

header h1 {
  color: rgb(255,255,255);
  padding: 20px, 5px, 5px, 5px;
  size: 30pt;
  font-family: Impact;
}

nav {
  width: 500px;
  background-color: #cccccc;
}

nav a{
  font-family: impact;
  size: 15pt;
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  
}

nav a:hover{
  background-color: white;
}

article {
  width: 500px;
  background-color: #cccccc;
}

#contact {
  width: 500px;
  background-color: #cccccc;
}

footer {
  width: 500px;
  background-color: #00c9fd;
}