* {
  margin: 0;
}

body {
  font-family: Verdana;
  font-size: 14px;
}

#wrapper {
  width: 900px;
  background-color: #ff3333;
}

header {
  width: 900px;
  background-color: #00c9fd;
}

header h1 {
  color: rgb(255,255,255);
  padding: 20px, 5px, 5px, 5px;
  size: 30pt;
  font-family: Impact;
}

nav {
  width: 900px;
  background-color: #cccccc;
}

nav a{
  font-family: impact;
  size: 15pt;
  color: black;
  text-decoration: none;
}

article {
  width: 900px;
  background-color: #cccccc;
}

#contact {
  width: 900px;
  background-color: #cccccc;
}

footer {
  width: 900px;
  background-color: #00c9fd;
}